/* 
Spacing:
 2/ 4/ 8/ 12/ 16/ 24/ 32/ 48/ 64/ 80/ 96/ 128

font-size:
10/ 12/ 14/ 16/ 18/ 20/ 24/ 30/ 36/ 44/ 52/ 62/ 74/ 86/ 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 62.5%; */
  /* font-size: 20px; */
  color: #555;
  line-height: 1;
}

/* Re-use */

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ***************************************************** */
.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(3, 3, 3, 0.3);
}
.header-container {
  max-width: 130rem;
  padding: 3.2rem 4.8rem;
  margin: 0 auto;
  /* font-size: 1.8rem; */
  /* background-color: rgba(3, 3, 3, 0); */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-identity h1 {
  color: #fff;
  font-size: 3.8rem;
  /* font-weight: 400; */
}

.main-nav ul {
  list-style-type: none;
  display: flex;
  gap: 2.4rem;
}

.main-nav ul li a:link,
.main-nav ul li a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  transition: 0.5s;
}

.main-nav ul li a:active,
.main-nav ul li a:hover {
  text-decoration: underline;
  font-size: 2.1rem;
}

/* *************************************** */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* *************************************** */

.section-hero {
  background-image: linear-gradient(
      rgba(14, 20, 36, 0.9),
      rgba(14, 20, 36, 0.9)
    ),
    url(https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center;
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.hero-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 50%;
}
.hero-text h1 {
  font-size: 7.4rem;
  color: #fff;
}
.hero-text p {
  font-size: 3rem;
  font-style: italic;
  color: #fff;
  text-align: center;
}

.hired-on {
  margin-top: 4.8rem;
}

.hired-on-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.hired-logos {
  display: flex;
  justify-content: space-around;
}

.hired-logos img {
  height: 4.4rem;
  filter: brightness(0);
  opacity: 30%;
}

.section-introduction {
  font-size: 1.8rem;
  margin-top: 6.4rem;
}

.intro-container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 4.8rem 6.2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* align-items: center; */
  /* justify-items: center; */
  gap: 2.4rem;
}

.intro-photo-thumbnail {
  padding: 1rem;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0.5rem;
  overflow: hidden;
}

.intro-photo-thumbnail img {
  display: block;
  width: 100%;
}

.intro-greet {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.intro-identity {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.intro-details {
  line-height: 1.6;
  margin-bottom: 1.6rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.intro-table td {
  padding: 1.2rem 0.5rem;
}

.intro-table td:nth-child(even) {
  padding-right: 2.4rem;
}

.intro-btn {
  display: inline-block;
  text-decoration: none;
  margin-top: 1.6rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 100px;
  background-color: #2c313d;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}

.intro-btn:hover {
  background-color: #2c3130;
}

.section-vision {
  margin: 6.4rem 0;
  padding: 12.8rem;
  /* height: 100vh; */
  font-size: 1.8rem;
  background-color: #f1f3f5;
  transform: skewY(-9deg);
}

.vision-container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 9.6rem;
  padding-bottom: 4.8rem;
  transform: skewY(9deg);
}

.vision-motto {
  text-align: center;
}

.vision-motto-heading {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 2px solid #aaa;
}

.vision-motto-desc {
  line-height: 1.6;
  margin-bottom: 6.4rem;
}

.vision-icon {
  transform: skewY(9deg);
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.6rem;
}

.vision-icon-div ion-icon {
  width: 4.4rem;
  height: 4.4rem;
  padding: 4.8rem;
  padding-bottom: 3.2rem;
  border-bottom: 3px solid #555;
}

.vision-icon-div p {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 1.6rem;
}

.section-recent-work {
  margin: 6.4rem auto;
  padding: 8.4rem 0;
  font-size: 1.8rem;
}
.recent-work-heading {
  max-width: 51.2rem;
  padding: 3.6rem;
  border-bottom: 1px solid #aaa;
  margin: 0 auto 6.4rem;
  font-size: 3.6rem;
  text-align: center;
}

.recent-work-images {
  /* padding: 0 6.4rem; */
  display: flex;
  gap: 3.6rem;
}

.recent-work-images a {
  text-decoration: none;
}

.recent-work-img {
  border-radius: 3px;
  overflow: hidden;
  /* height: 64rem; */
  box-shadow: 0.5rem 0.5rem 1.2rem 0.6rem rgb(173, 173, 173);
}

.recent-work-desc {
  background-color: #383f52;
  padding: 3.2rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.recent-work-desc::before {
  content: "<";
  color: #383f52;
  margin: 0 5px;
  transition: 0.5s;
}
.recent-work-desc::after {
  content: "/>";
  color: #383f52;
  margin: 0 5px;
  transition: 0.5s;
}

.recent-work-images a:hover .recent-work-desc::before {
  color: #fff;
}

.recent-work-images a:hover .recent-work-desc::after {
  color: #fff;
}

.recent-work-img img {
  display: block;
  width: 100%;
  transition: 0.5s;
}

.recent-work-images a:hover .recent-work-img img {
  transform: scale(1.03);
}

.footer {
  font-size: 1.6rem;
  background-color: #2c313d;
  color: #fff;
}

.footer-pages {
  margin: 3.6rem;
  padding: 3.6rem 0 4.8rem 0;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages ul {
  list-style-type: none;
  display: flex;
  /* flex-direction: column; */
  gap: 1.2rem;
}

.pages ul li a {
  text-decoration: none;
  color: #fff;
}

.copyright-social {
  text-align: center;
  padding-bottom: 2.4rem;
}

.social i {
  display: inline-block;
  color: #fff;
  padding: 1.2rem;
  margin: 1.2rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

@media screen and (max-width: 100em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 78em) {
  .hero-image img {
    width: 8rem;
    height: 8rem;
  }

  .hero-text h1 {
    font-size: 6.2rem;
  }
  .hero-text p {
    font-size: 2.4rem;
  }

  .hired-logos img {
    height: 3.6rem;
  }

  .intro-details {
    line-height: 1.2;
  }
  .intro-table td {
    padding: 0.8rem 0.5rem;
  }

  .intro-table td:nth-child(even) {
    padding-right: 1.6rem;
  }

  .recent-work-desc {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 50em) {
  .header {
    position: absolute;
    background: none;
  }
  .intro-container {
    grid-template-columns: 1fr;
  }

  .intro-photo-thumbnail {
    width: 100%;
  }
  .intro-photo-thumbnail img {
    width: 100%;
    height: auto;
  }

  .intro-table {
    display: none;
  }

  .section-vision {
    background-color: #fff;
    padding: 4.4rem;
    margin: 2.4rem auto;
  }

  .vision-container {
    padding: 6.4rem;
  }

  .vision-icon-div ion-icon {
    padding: 3.2rem;
  }

  .vision-icon-div p {
    font-size: 1.8rem;
  }

  .section-recent-work {
    color: #fff;
    background-color: #2c313d;
    margin-bottom: 0;
  }

  .recent-work-images {
    padding: 3.6rem;
    flex-direction: column;
    gap: 6.4rem;
  }

  .recent-work-img {
    box-shadow: 0 0 1.5rem 0.5rem rgba(3, 3, 3, 0.3);
    border: 1px solid #1c212d;
  }
  .recent-work-desc {
    font-size: 2rem;
  }

  .footer {
    background-color: rgba(44, 49, 61, 0.7);
  }

  .footer-pages {
    margin: 0 3.6rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: #383f52;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .open-nav .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .open-nav .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .open-nav .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav ul {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .main-nav ul li a {
    display: block;
    padding: 2.4rem;
    text-align: center;
  }

  .main-nav ul li a:hover {
    background-color: #2c313d;
    text-decoration: none;
    transform: none;
  }
}
